body {
    overflow: hidden;
}

.menu {
}

#cusdis_thread {
max-width: 700px;
width: 100%;
margin: 0 auto;
}

#cusdis_thread iframe {
width: 100% !important;
min-height: 500px !important; 
overflow: hidden !important;
border: none !important;
}
